@import url("https://fonts.googleapis.com/css?family=Cormorant+Unicase:400,700");

:root {
    --main-color: white;
    --bk-color: linear-gradient(to right, #4B1248, #F0C27B);
    --bk-fb-color: #F0C27B;
    --bk-chNsf-color: -webkit-linear-gradient(to right, #4B1248, #F0C27B);
}



*, *::before, *::after {
    box-sizing: inherit;
    margin: 0;
    padding: 0;
}

html {
    box-sizing: border-box;
    margin: 0;
    padding:0;
    background-color: black;

}

body {
    /* margin: 0 5rem; */
    font-family: 'Cormorant Unicase', serif;
    color: white;
    /* -------------------------------------------------------- */
    /* Liner gradient definition */
    background: var(--bk-fb-color);
    /* #000000; */
    /*fallback for old browsers */
    background: var(--bk-chNsf-color);
    /* -webkit-linear-gradient(to left, #e74c3c, #000000);   */
    /* Chrome 10-25, Safari 5.1-6 */
    background: var(--bk-color);
    /* linear-gradient(to left, #e74c3c, #000000);  */
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    /* ---------------------------------------------------------- */
}
#navbar {
    position: fixed;
    /* background-color: lightcoral; */
    /* border: 1px solid red; */
    width: 100%;
    height: max-content;
    margin: 0;
     /* -------------------------------------------------------- */
    /* Liner gradient definition */
    background: var(--bk-fb-color);
     /* #000000; */
    /*fallback for old browsers */
    background: var(--bk-chNsf-color);
    /* -webkit-linear-gradient(to left, #e74c3c, #000000);   */
    /* Chrome 10-25, Safari 5.1-6 */
    background: var(--bk-color);
    /* linear-gradient(to left, #e74c3c, #000000);  */
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    /* ---------------------------------------------------------- */
}

#navbar ul {
    list-style: none;
    display: flex;
    justify-content: flex-end;
    align-items: flex-start;
    margin: 0;
    padding: 0;

}

#container {
    width: auto;
}

nav ul li {
    /* background-color: red; */
    height: 1.25em;
    margin: 1em;
    padding-right: 1.5rem;
}

nav a {
    color: black;
    font-weight: bold;
    text-decoration: none;
    text-transform: uppercase;
    z-index: 3;
}

.logo {
    width: 100%;
    text-align: center;
    color: black;
    font-weight: bold;
    font-size: 3rem;
}


section {
    padding-top: 6.75rem;
    height: 100vh;
}

#welcome-section {
    /* background-color: palevioletred; */
    display: flex;
    padding: 0;
    align-items: center;
    justify-content: center;
}

#welcome-section h3 {
    text-align: center;
}


#projects {
    /* border: 1px solid green; */
    font-size: 1rem;
}

#contact {
    /* border: 1px solid blue; */
    font-size: 1rem;
}

@media screen and (max-width: 700px){
    .logo {
        font-size: 1.5rem;
    }
}